{% extends 'base.html.twig' %}

{% block title %} Create a new Record | {{ parent() }} {% endblock %}
{% block body %}
<h1>{{ title }}</h1>
{# TODO: add an image of the record #}

<div>
    Tracks:
    <ul>
        {% for track in tracks %}
            <li><b>{{ track.song | lower }}</b> - <i>{{ track.artist | upper }}</i></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}